.container {
  margin-top: 10%;
  background-color: grey;
}

.col-sm-4 {
  background-color: grey;
}

.col-sm-4 a {
  color: black;
}

.tasks {
  background-color: #A9A9A9;

}

.taskscomplete {
  background-color: #A9A9A9;

}

.taskscomplete:hover {
  background-color: black;
  color: white;
}

.tasklist {
  margin-top: 3%;
}
