.container {
  margin-top: 10%;
  background-color: grey;
}


.col-sm-4 {
  background-color: grey;
}

.tasks {
  background-color: #A9A9A9;
}

.tasks:hover {
  background-color: black;
  color: white;
}
